$mainColor: #22232c;
$textColor: #c1c2c5;
$mainFont: Roboto;

$secondaryColor: rgba(12, 12, 12, 0.4);
$secondaryColorHighlight: #33343F;
$secondaryColorLight: rgba(0, 0, 0, 0.5);
$secondaryColorDark: rgba(12, 12, 12, 0.8);

$gridCols: 5;
$gridRows: 5;
$gridSize: 10.2vh;
$gridGap: 7px;
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
  --primary-color: #df8726;
  --secondary-color: #93d728;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: white;
}

.context-menu-list {
  min-width: 150px;
  background: radial-gradient(circle, rgba(35, 35, 35, 1), rgba(10, 10, 10, 1));
  color: rgba(255, 255, 255, 0.6);
  padding: 4px;
  border-color: rgba(250, 250, 250, 0.2);
  border-style: inset;
  border-width: 2px;
  border-radius: 4px;
  outline: none;
  display: flex;
  flex-direction: column;
  z-index: 100000 !important;
}

.context-menu-item:nth-child(even){
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0px;
  background-image: 
    linear-gradient(to right, transparent, rgba(255, 255, 255, 0.24), transparent),
    linear-gradient(to right, transparent, rgba(255, 255, 255, 0.24), transparent);
  background-position: top, bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

.context-menu-item:nth-last-child(1):nth-child(even) {
  background-image: 
    linear-gradient(to right, transparent, rgba(255, 255, 255, 0.24), transparent);
  background-position: top;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

.context-menu-item  {
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.4) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active {
    transform: none;
  }
  &:hover {
    background-color: rgba(230, 230, 230, 0.05);
    cursor: pointer;
    color: white !important;
  }
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown > p {
  margin: 0;
}

// button:active {
//   transform: translateY(3px);
// }

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3vw;
  z-index: 0;
  overflow: auto;
}

.inventory-control {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;

  .inventory-control-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }

  .inventory-control-input {
    width: 7vw;
    transition: 0.3s;
    padding: 16px 8px;
    border-radius: 2.5%;
    font-family: $mainFont;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    // background-color: $secondaryColor;
    border-radius: 5px;
    background: radial-gradient(circle, rgba(30, 30, 30, 0.4), rgba(10, 10, 10, 0.4));
  }
  .inventory-control-input:focus{
    border: 2px solid rgba(255, 255, 255, 0.13);
    background: radial-gradient(circle, rgba(40, 40, 40, 0.4), rgba(10, 10, 10, 0.4));
  }
  .inventory-control-button {
    position: relative;
    font-size: 14px;
    color: var(--primary-color);
    background: rgba(10, 10, 10, 0.3);
    padding: 16px 8px !important;
    transition: 0.3s;
    border-radius: 2.5%;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-family: $mainFont;
    width: 6.4vw;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
  }
  .inventory-control-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: inset 0px 0px 24px var(--primary-color);
    outline: 1px solid var(--primary-color);
    opacity: 0.4;
    transition: 0.3s;
  }
  .inventory-control-button:hover::before{
    opacity: 0.7;
  }
}

.useful-controls-dialog {
  background: radial-gradient(circle, rgba(35, 35, 35, 1), rgba(10, 10, 10, 1));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 5px;
  border: 2px solid rgba(255,255,255,0.1);
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;
  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
  margin-bottom: 5px;
}

.useful-controls-button {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
  transition: 0.3s !important;
  border: none;
  color: var(--primary-color);
  width: 52px;
  height: 52px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  fill: var(--primary-color);
  border-radius: 5px !important;
  cursor: pointer;
}

.useful-controls-button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color) !important;
  border-radius: 5px;
  opacity: 0.3;
  transition: 0.3s !important;
}
.useful-controls-button:hover::before{
  opacity: 0.4;
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window


// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($gridGap * 2);
}
.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2vh;
  p {
    font-size: 16px;
  }
}

.playerLabel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vw;
  color: var(--primary-color);
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4vh;
  height: 4vh;
}
.icon svg{
  width: 100%;
  height: 100%;
  transform: scale(0.6);
  fill: var(--primary-color);
}
.icon svg path{
  fill: var(--primary-color);
}

.icon::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4vh;
  height: 4vh;
  background: radial-gradient(circle, rgba(60,60,60,0.3), rgba(10,10,10, 0.3));
  border: 1.5px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: inset 0px 0px 24px var(--primary-color);
  transform: rotate(45deg);
  opacity: 0.7;
}

.iconPath{
  fill: var(--primary-color);
}

.inventory-grid-container {
  display: grid;
  width: calc($gridSize*$gridCols + 3vh);
  height: $containerSize;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: auto;
}

// inventory slots
.inventory-slot:has(.item-slot-wrapper)::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(circle, rgba(40, 40, 40, 0.4), rgba(10, 10, 10, 0.4));
  height: 100%;
  z-index: -1 !important;
  border: 2px solid var(--primary-color);
  box-shadow: inset 0px 0px 24px var(--primary-color);
  opacity: 0.4;
}

.inventory-slot {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2.5%;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 7vh;
  color: $textColor;
}

.inventory-slot::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(circle, rgba(40, 40, 40, 0.4), rgba(10, 10, 10, 0.4));
  height: 100%;
  border: 1.5px solid rgba(255,255,255,0.1);
  border-radius: 3px;
  z-index: -1 !important;
}

.inventory-slot-label-box {
  position: relative;
  color: $textColor;
  text-align: center;
  color: var(--primary-color);
  text-shadow: 0px 0px 5px black;
  padding: 3px;
}

.inventory-slot-label-box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  opacity: 0.3;
  padding: 3px 3px 0px 0px;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.inventory-slot-label-text {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  // text-overflow: ellipsis;
  font-weight: 500;
  font-family: $mainFont;
  font-size: 12px;
}

.inventory-slot-number {
  position: relative;
  color: var(--primary-color);
  text-shadow: 0px 0px 7px black;
  height: 12px;
  font-weight: 500;
  padding: 5px 7px;
  font-size: 12px;
  font-family: $mainFont;
}
.inventory-slot-number::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  border-top-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
  opacity: 0.3;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  p {
    font-size: 12px;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 3px;
  gap: 3px;
  color: var(--primary-color);
  p {
    font-size: 12px;
  }
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}


.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  background: radial-gradient(circle, rgba(34, 34, 34, 1), rgba(24, 24, 24, 1));
  width: 200px;
  padding: 8px;
  flex-direction: column;
  min-width: 200px;
  color: rgba(230, 230, 230, 1);
  font-family: $mainFont;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  border-style: inset;
  border-width: 1px;
  z-index: 10000 !important;
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: 0.7vh;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  position: relative;
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
}

.hotbar-item-slot::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(circle, rgba(40, 40, 40, 0.4), rgba(10, 10, 10, 0.4));
  height: 100%;
  border: 2px solid rgba(255,255,255,0.24);
  border-radius: 3px;
  z-index: -1 !important;
}

.hotbar-item-slot:has(.item-slot-wrapper)::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(circle, rgba(40, 40, 40, 0.4), rgba(10, 10, 10, 0.4)) !important;
  height: 100%;
  z-index: -1 !important;
  border: 2px solid var(--primary-color) !important;
  box-shadow: inset 0px 0px 24px var(--primary-color) !important;
  opacity: 0.6;
}


.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: $secondaryColor;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $mainFont;
  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  background: rgba(0, 0, 0, 0.5);
  height: 3px;  
  overflow: hidden;
  width: 96.5%;
  margin: 0px 5px;
}

.weight-bar {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.4);
  // border: 1px inset rgba(0, 0, 0, 0.1);
  height: 0.8vh;
  overflow: hidden;
  margin-top: 1vh;
}

.weightSpawn{
  color: var(--primary-color);
  font-weight: 600;
}

.linearBar{
  background: linear-gradient(to right, transparent, var(--primary-color));
  border-radius: 2px;
  box-shadow: 0px 0px 24px var(--primary-color);
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px)
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}

// -- Redesigns
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
.logo{
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 10vh;
  height: 10vh;
  z-index: 10;
}
.logo img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.4;
}
.leftShadow{
  position: absolute;
  top: 0;
  left: -5%;
  width: 10vw;
  height: 100vh;
  background: linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  filter: blur(100px);
  opacity: 0.3;
}
.rightShadow{
  position: absolute;
  top: 0;
  right: -5%;
  width: 10vw;
  height: 100vh;
  background: linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  filter: blur(100px);
  opacity: 0.3;
}
.topShadow{
  position: absolute;
  top: -10%;
  right: 0;
  width: 100vw;
  height: 20vh;
  background: linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  filter: blur(100px);
  opacity: 0.3;
}
.InventoryDivider{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3px;
  height: 60%;
  background: linear-gradient(45deg, transparent 0%, var(--primary-color) 25%, var(--secondary-color) 75%, transparent 100%);
  opacity: 0.4;
}